#dropbox {
    border: 2px dashed #000000;
    padding: 20px;
}

#dropbox.active {
    border: 4px dashed #FF0000;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
}

.padding-top {
    padding-top: 20%;
    justify-content: center;
    align-items: center;
}

input {
    padding-bottom: 10px;
}

.files_box {
	display: block;
	width: 100%;
	height: 8em;
	border: 1px solid #e8e8e8;
	text-align: center;
	color: #b5b5b56b;
}

.files_box::after {
	content: '+';
	font-size: 5em;
	text-align: center;
}

.file_upload {
	display: none;
}

.submit {
	width: 100%;
	margin: 10px 0;
}
